:root {
    --dark-cyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --white: hsl(0, 0%, 100%);
    --dark-gray: hsl(228, 12%, 48%);
    --dark-blue: hsl(212, 21%, 14%);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cream);
    color: var(--dark-gray);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.container {
    width: 98vw;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    height: 500px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.image-mobile {
    display: none;
}

.grid-container {
    height: 500px;
    width: 680px;
    background-color: var(--white);
    display: grid;
    grid-template-columns: 340px 340px;
    border-radius: 15px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}

.price-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

h1, .price {
    font-family: 'Fraunces', serif;
    font-weight: 700;
}

h1 {
    color: var(--dark-blue);
    line-height: 1; 
}

h2 {
    font-size: 16px;
    font-weight: 100;
}

p {
    font-size: 14px;
    line-height: 1.7;
}

.price {
    font-size: 32px;
    color: var(--dark-cyan)
}

.price-cross {
    text-decoration: line-through;
}

.btn {
    color: var(--white);
    font-weight: 700;
    background-color: var(--dark-cyan);
    border-style: none;
    padding: 17px;
    border-radius: 10px;
}

.btn i {
    padding-right: 10px;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media screen and (max-width: 700px) {
    .container {
        height: 100%;
        width: 100vw;
    }

    .image {
        display: none;
    }

    .image-mobile {
        display: inline-block;
        width: 340px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    .grid-container {
        margin: 30px;
        height: 650px;
        width: 340px;
        grid-template-columns: 340px;
        grid-template-rows: 225px 445px;
        gap: 0px;
    }

    .attribution {
        margin-top: 40px;
        margin-bottom: 20px;
    } 
}
